SUPABASE_PROJECT_ID="kxtbxzolhflilkfsntdt"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_CjggdyRa7r9tIUQtB-XaQQ_MgOVdajB"
SUPABASE_URL="https://kxtbxzolhflilkfsntdt.supabase.co"
VITE_SUPABASE_PROJECT_ID="kxtbxzolhflilkfsntdt"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_CjggdyRa7r9tIUQtB-XaQQ_MgOVdajB"
VITE_SUPABASE_URL="https://kxtbxzolhflilkfsntdt.supabase.co"
